/* work sans google fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,500&family=Kanit&family=Lato&family=Open+Sans&family=Poppins:wght@300;400;500&family=Roboto+Slab&family=Rubik:ital,wght@0,400;1,900&family=Work+Sans:wght@400;500;600;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    /* margin: 0px;
    padding: 0px; */
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    border-radius: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 25px;

}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;

}

/* banner style */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 35px;
    margin-bottom: 35px;
}

.banner img {
    width: 100%;
}

/* responsive media quire */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .banner-title {
        font-size: 30px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .banner-title {
        font-size: 45px;
    }
}

/* main style */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams style*/

.teams-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.teams-img-containner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams-content{
    padding-right: 70px;
    padding-left: 70px;
}
.teams-content-title{
    font-size: 45px;
}